<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Log4Net1213" version="3.3.1" targetFramework="net40" />
  <package id="Essy.FTDIWrapper" version="1.0.0" targetFramework="net40" />
  <package id="FTD2XX_NET" version="1.0.14" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="ObjectListView.Official" version="2.9.0" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1978" targetFramework="net40" requireReinstallation="true" />
  <package id="OxyPlot.WindowsForms" version="1.0.0-unstable1978" targetFramework="net40" requireReinstallation="true" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="net45" />
  <package id="SQLite.Net.Cipher" version="0.0.2" targetFramework="net45" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="net45" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net45" />
</packages>